:root {
  --background: #ffffff;
  --foreground: #171717;
  --primaycolor:#1FB141;
  --tabs-active-color:#181818;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box ;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}



.sub_header{
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 14px;
}
.sub_header .navbar{
  background: var(--background);
}
.sub_header .signing{
  font-size: 16px;
  font-weight: 500;
  color: var(--foreground);
}
.btn_signup{
  background: var(--primaycolor);
  color: var(--background) !important;
  width: 105px;
  border-radius: 7px;
  line-height: 25px;
  transition: all 0.5s;
}
.btn_signup:hover{
  background: var(--foreground);
}
.search_tops_divs{
  background: #fafafa;
  border-radius: 4px;
  height: 50px;
  border: solid 2px #bbbbbb0d;
}
/* listing page */
.sidebarsd_div{
  border-right: solid 1px #f6f6f6;
  min-height: 100vh;
}
.options_names input{
 position: absolute;
 opacity: 0;
 left: 0;
 right: 0;
 margin-left: 0 !important;
 float: none !important;
}

.cmout{
   border-radius: 10px;
   border: 1px solid #e5e5e5;
   padding: 5px 15px 8px 15px !important;
   margin-right: 11px;
   margin-bottom: 13px;
   cursor: pointer;
   margin-bottom: 11px !important;
   transition: all 0.5s;
}
.cmout:hover{
  border-color:#929292 !important;
}
.cmout label{
   cursor: pointer;
   display: flex;
   align-items: center;
}
.cmout label span{
  width: 28px;
  display: inline-block;
}
.cmout label span img{
  width: 23px;
  height: 23px;
}
/* listings */
.search_heading{
  font-weight: 600;
  color: var(--tabs-active-color);
  font-size: 20px;
}
.tabsd_divs .nav-link{
  font-weight: 500;
  color: #424242 !important;
  font-size: 18px;
}
.tabsd_divs .nav-tabs .nav-item.show .nav-link, 
.tabsd_divs .nav-tabs .nav-link.active{
  color: var(--tabs-active-color) !important;
  font-weight: 600;
  border: none;
}
.serach-div-home{
  background: #f7f7f7;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  width: 51%;
  height: 47px;
}
.serach-div-home .form-control{
  background: none;
  height: 41px;
  background: none;
  border: none;
  text-indent: 12px;
}
.serach-div-home .form-control:focus{
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}
.btn-search-sder{
  border-left: solid 1px #d8d8d8 !important;
  border-radius: 0 !important;
  padding-top: 4px;
  margin-top: 3px;
}
.btn-search-sder:focus{
  box-shadow: none !important;
}
.nav-link{
  cursor: pointer;
  color: var(--tabs-active-color) !important;
  font-weight: 500;
}
.nav-link:hover{
  color: var(--primaycolor) !important;
}
.btn-signup01{
  background: var(--primaycolor);
  font-size: 14px;
  font-weight: 500;
  transition: all 0.5s;
  border-radius: 8px;
  padding: 10px 20px !important;
  color: var(--background) !important;
  cursor: pointer;
}
.btn-signup01:hover{
  background: var(--foreground);
  color: var(--background) !important;
 
}
.sub_header .container-fluid{
  padding-left: 1.8rem;
  padding-right: 1.8rem;
}
.sidebarsd_div {
  padding-left: 1.8rem;
  padding-right: 1.4rem;
}
.btn-next{
  background: var(--primaycolor) !important;
  color: var(--background) !important;
  border-radius: 6px !important;
  padding: 0 30px !important;
  height: 44px;
  font-weight: 600;
  font-size: 16px !important;
  transition: all 0.5s;
}
.btn-next:hover{
  background: var(--foreground) !important;
}
.btn-next svg,
.btn-pre svg{
  width: 20px;
  height: 20px;
}
.btn-next svg{
  margin-left: 8px;
}
.btn-pre svg{
  margin-right: 8px;
}
.btn-pre{
  border-radius: 6px !important;
  padding: 0 30px !important;
  height: 44px;
  font-weight: 600;
  transition: all 0.5s;
  font-size: 16px !important;
  color: #424242 !important;
  box-shadow: inset 0 0 0 2px #d8d8d8 !important;
  margin-right: 18px;
  transition: all 0.5s;
}
.btn-pre:hover{
  background: var(--foreground) !important;
  box-shadow: inset 0 0 0 2px var(--foreground) !important;
  color: var(--background) !important;
}
.icons-list{
  position: relative;
}
.icons-list::before{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  background-color: hsla(0, 0%, 89.8%, .8);
  content: "";
  width: 100%;
  opacity: 0;
  transform: translate(0);
  transition: all 0.5s;
  height: 100%;
}
.svg-item:hover .icons-list::before{
   transform: scale(1);
   opacity: 1;

}
.icons-list:focus{
  box-shadow: none !important;
}
.icons-list span{
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
}
.icons-list span svg{
  width: 40px;
  height: 40px;
}
.btn-load-more{
  text-decoration: underline !important;
  font-size: 14px;
}
.svg-item{
  display: grid;
}
.hover-divs {
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column;
  top: 15px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s;
}
.svg-item:hover .hover-divs{
  opacity: 1;
}
.btn-adds{
  background: #fff !important;
  border-radius: 8px !important;
  padding-top: 5px !important;
  padding-bottom: 8px !important;
}
.btn-downloads{
  background: var(--primaycolor) !important;
  border-radius: 8px !important;
  margin-top: 10px;
  padding-top: 5px !important;
  padding-bottom: 8px !important;
}
.btn-adds svg,
.btn-downloads svg{
  width: 20px;
  height: 20px;
}
.btn-adds:focus,
.btn-downloads:focus{
  box-shadow: none !important;
}
.main-divs .nav-tabs .nav-link{
  position: relative;
}
.main-divs .nav-tabs .nav-link::before{
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--foreground);
  opacity: 0;
  transition: all 0.5s;
  content: "";
}
.main-divs .nav-tabs .nav-link:focus, 
.main-divs .nav-tabs .nav-link:hover{
  border-color: transparent !important;
}
.main-divs .tabsd_divs .nav-tabs .nav-item.show .nav-link, 
.main-divs .tabsd_divs .nav-tabs .nav-link.active{
  
}
.main-divs .nav-tabs .active::before{
  opacity: 1;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (width >= 1200px) {
  .main-divs .tab-content .row-cols-xl-6 > * {
      width: 13.6667%;
  }
}